/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}





/* INDEX.HTML */





/*
:root {
    --mobile-break: 520px;
}
*/

/*
* {
    border: 1px solid red !important;
}
*/

body {
    display: grid;
    grid-template-areas:
        "logo"
        "nav"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    max-width: 1000px;
}

@media (min-width: 820px) {
    body {
        grid-template-columns: repeat(12, 5.5833%);
        grid-template-rows: auto;
        grid-column-gap: 3%;
        grid-template-areas:
            "nav nav nav nav nav nav nav nav nav logo logo logo"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        margin: 0 auto;
    }
}


body * {
    width: 100%;
}


.logo {
    grid-area: logo;
    display: block;
    width: auto;
    margin: 20px auto;
}

nav {
    grid-area: nav;
}

@media (min-width: 520px) {
    nav {
        display: flex;
        justify-content: space-evenly;
    }
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: auto;
    padding: 19px;
    font-size: 1.2rem;
    border-top: 1px solid grey;
    color: grey;
}

@media (min-width: 520px) {
    nav a {
        font-size: .9rem;
        align-self: center;
        padding: 0;
        margin-top: 19px;
        border: none;
    }
}

@media (min-width: 820px) {
    nav a {
        margin-top: 0;
    }
}

nav :last-child {
    border-bottom: 1px solid grey;
}

@media (min-width: 520px) {
    nav :last-child {
        border: none;
    }
}




#main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "top"
        "features"
        "about"
        "middle-img"
        "services"
        "product"
        "vision";
    padding: 0 4%;
}


@media (min-width: 520px) {
    #main {
        /*        margin: 0 5%;*/
        display: grid;
        grid-template-columns: repeat(12, 5.5833%);
        grid-template-rows: auto;
        grid-column-gap: 3%;
        grid-template-areas: "top top top top top top top top top top top top"
            "features features features features features features about about about about about about"
            "middle-img middle-img middle-img middle-img middle-img middle-img middle-img middle-img middle-img middle-img middle-img middle-img"
            "services services services services product product product product vision vision vision vision"
            "footer-border footer-border footer-border footer-border footer-border footer-border footer-border footer-border footer-border footer-border footer-border footer-border"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        padding: 0 2%;
    }
}

.top {
    grid-area: top;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 50px 0 70px;
    margin-bottom: 60px;
}

@media (min-width: 520px) {
    .top {
        margin-bottom: 0;
    }
}


#slogan {
    grid-area: slogan;
}

@media (min-width: 820px) {
    #slogan {
        width: 48%;
        align-self: center;
    }
}


.top h1 {
    font-size: 4.25rem;
    text-align: center;
}

.top button {
    display: block;
    width: auto;
    margin: auto;
    padding: 5px 40px;
    border: 1px solid black;
    background-color: white;
    font-size: 1rem;
}

.header-img {
    grid-area: header-img;
    display: none;
}

@media (min-width: 820px) {
    .header-img {
        display: block;
        width: 48%;
        padding: 4%;
    }
}

.info-blurb {
    margin: 24px 0;
}

#features {
    grid-area: features;
}

#about {
    grid-area: about;
}

#services {
    grid-area: services;
}

#product {
    grid-area: product;
}

#vision {
    grid-area: vision;
}

.middle-img {
    grid-area: middle-img;
}


#footer-border {
    width: 92%;
}

footer {
    grid-area: footer;
    justify-self: center;
    padding: 30px 4% 0;
    width: 96%;
    border-top: 1px solid black;
}

@media (min-width: 520px) {
    footer {
        padding-left: 0;
        padding-right: 0;

    }
}

footer p {
    margin: 15px 0;
}

#copyright {
    padding: 20px 0 5px;
    text-align: center;
}
